<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @contact_group.nome %>
</p>

<%= link_to 'Edit', edit_contact_group_path(@contact_group) %> |
<%= link_to 'Back', contact_groups_path %>
