<table>
<tbody>
<tr>
<td><img src="http://www.jfnavegacao.com.br/imagens/logo-jf.png" alt="logo-jf" width="133" height="85" /></td>
</tr> 
</tbody>
</table>
<h4>Olá</h4> 
<p>Você acaba de receber um formulario eletrônico do tipo <%= @formulario.nome %> que foi preenchido pelo vistoriador <%= @form_p.user.nome %>.</p>
<p>Para ter acesso detalhado acesse o link abaixo:</p>

<%= link_to "Formulario", "http://vistoria.us-west-2.elasticbeanstalk.com/formularios/#{@form_p.id}/respostas.pdf" %>

<p>&nbsp;</p>
<p style="text-align: left;"><strong>Atenciosamente,</strong></p>
<p style="text-align: left;"><strong>Gestocorp - Porto Chibat&atilde;o</strong></p>
<table style="height: 149px;" width="596">
<tbody>
<tr>
<td><img src="http://ceasa.portochibatao.com.br/logo-grupochibatao.png" alt="logo jf" width="140" height="90" /></td>
<td><strong>TUP -</strong> J. F. OLIVEIRA NAVEGA&Ccedil;&Atilde;O - <strong>MANAUS/AM </strong><br />(C.A.N&deg; 18/2014-ANTAQ) <br />Telefone: 55.92.<strong>2127-1015</strong>&nbsp;
<div class="texto"><strong>TUP -</strong> J. F. OLIVEIRA NAVEGA&Ccedil;&Atilde;O - <strong>PORTO VELHO/RO</strong>&nbsp;</div>
<div class="texto">(C.A.N&deg; 048/97-ANTAQ) <br />Telefone: 55.69.<strong>2182-1900</strong>&nbsp;</div>
<strong>TUP -</strong> J. F. OLIVEIRA NAVEGA&Ccedil;&Atilde;O - <strong>BEL&Eacute;M/PA</strong> <br />(C.A.N&deg; 053/2014-ANTAQ)<br />Telefone: 55.91.<strong>3277-6600</strong>&nbsp;</td>
</tr>
</tbody>
</table>
<p style="text-align: left;">&nbsp;</p>
<div class="texto"><br /><br /></div>
<div class="texto">&nbsp;</div>
<div class="texto">&nbsp;</div>
<p>&nbsp;</p>